/*CLEAR FIX*/
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.layout {
    margin: 0 auto;
    max-width: 912px;
}
.header-logo {
    margin: 20px 0 15px 0;
}
.header-logo a {
    color: #e50b7c;
    font: 600 28px 'Arial', sans-serif;
    text-decoration: none;
}
.search-box {
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 24px;
    max-width: 904px;
    padding: 4px;
}
.search-box-input {
    border: none;
    float: left;
    font: 12px 'Arial', sans-serif;
    height: 22px;
    max-width: 805px;
}
.search-box-button {
    background: rgba(204,204,204,1);
    border-color: transparent;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-size: 13px;
    height: 21px;
    margin-top: 1px;
}
.main-container {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    margin-top: 24px;
    overflow: hidden;
}
.main-container-top {
    background: url("../img/bg-content.gif") repeat-x;
    height: 36px;
}
.main-container-center {
    min-height: 218px;
    padding: 0 55px;
    width: 100%;
}
.main-container-bottom {
    background: url("../img/bg-content-block.gif") repeat-x;
    height: 36px;
    width: 100%;
}
.main-container-center h2 {
    color: #B7B7B7;
    font: 400 16px 'Arial', sans-serif;
    margin-bottom: 0;
    padding: 8px 0 0 4px;
}
.advertising-box-colored-block-media {
    display: none;
}
.advertising-box {
    float: left;
    height: 28px;
    padding-bottom: 6px;
    padding-top: 6px;
    /*width: 428px;*/
    width: 47%;
}
.advertising-box-front {
    padding-top: 2px;
}
.advertising-box-icon {
    background: url("../img/right-arrow.png") no-repeat;
    display: inline-block;
    float: left;
    height: 15px;
    margin: 9px 9px 0 0;
    width: 19px;
}
.advertising-box-ad a {
    color: #e50b7c;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}
.footer-copyright {
    color: #898989;
    font-size: 12px;
    margin: 40px auto 0;
    text-align: center;
}
.footer-copyright a {
    color: #898989;
    text-decoration: none;
}
span {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    line-height: 14px;
    white-space: pre-line;
 }
@media screen and (max-width: 600px) {
    .layout {
        margin-left: 10px;
        max-width: 300px;
    }
    .header-logo {
        margin-bottom: 15px;
        margin-top: 20px;
        text-align: center;
    }
    .header-logo a {
        color: #000000;
        font: 600 22px 'Arial', sans-serif;
        text-decoration: none;
    }
    .search-box {
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 30px;
        padding: 4px;
        position: absolute;
        top: 430px;
        width: 300px;
    }
    .search-box-input {
        border: 1px solid #dbdbdb;
        float: left;
        font: 12px 'Arial', sans-serif;
        height: 22px;
        width: 200px;
    }
    .search-box-input:focus {
        border: 1px solid #FFA500;
    }
    .search-box-button {
        background: #008000;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #ffffff;
        cursor: pointer;
        float: right;
        font-size: 13px;
    }
    .main-container {
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        margin-top: 24px;
        overflow: visible;
        padding-top: 3px;
    }
    .main-container-top {
        display: none;
    }
    .main-container-center {
        height: 218px;
        padding: 0 0;
        width: 100%;
    }
    .main-container-bottom {
        display: none;
    }
    .main-container-center h2 {
        color: #B7B7B7;
        font: 400 14px 'Arial', sans-serif;
        left: 5px;
        margin-bottom: 0;
        padding: 8px 0 0 4px;
        position: absolute;
        top: 30px;
    }
    .advertising-box-colored-block-media {
        display: inline-block;
        float: left;
        height: 35px;
        width: 7px;
    }
    .block-color-darkgreen {
        background: #1F8A70;
    }
    .block-color-lightgreen {
        background: #BEDB39;
    }
    .block-color-yellow {
        background: #FFE11A;
    }
    .block-color-orange {
        background: #FD7400;
    }
    .block-color-navy {
        background: #004358;
    }
    .advertising-box {
        background: #808080 url("../img/chevron-white.png") no-repeat  97% 50%;
        background-size: auto 16px;
        height: 35px;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }
    .advertising-box-icon {
        display: none;
    }
    .advertising-box-ad {
        border-bottom: 1px solid #565656;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-top: 1px solid #6F6F6F;
        height: 100%;
    }
    .advertising-box-ad:hover {
        background: #565656 url("../img/chevron-white.png") no-repeat 97% 50%;
        background-size: auto 16px;
        border-top: 1px solid #565656;
        cursor: pointer;
        text-decoration: underline;
    }
    .advertising-box-ad a {
        color: #ffffff;
        cursor: pointer;
        font-size: 18px;
        line-height: 33px;
        padding-left: 20px;
        text-decoration: none;
    }
    .footer-hr {
        border-bottom: 1px solid #023e80;
        float: left;
        height: 1px;
        position: absolute;
        top: 472px;
        width: 300px;
    }
    .footer-copyright {
        position: absolute;
        top: 445px;
        width: 300px;
    }
}