.layout {
    width: 912px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    margin-top: 20px;
    margin-bottom: 15px;
}
.logo a {
    font: 600 28px sans-serif;
    color: #e50b7c;
    text-decoration: none;
}
.search {
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    width: 904px;
    height: 24px;
}
.search-input {
    float: left;
    width: 805px;
    height: 22px;
    border: none;
    font: 12px 'Arial', sans-serif;
}
.search-button {
    float: right;
    margin-top: 1px;
    height: 21px;
    cursor: pointer;
    font-size: 13px;
    border-color: transparent;
    border-radius: 4px;
    background: rgba(204,204,204,1);
    color: #ffffff;
}
.main-container {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 24px;
}
.main-container-top {
    height: 36px;
    width: 100%;
    background: url("../img/bg-content.gif") repeat-x;
}
.main-container-center {
    height: 218px;
    width: 100%;
    padding: 0 55px;
}
.main-container-bottom {
    height: 36px;
    width: 100%;
    background: url("../img/bg-content-block.gif") repeat-x;
}
.main-container-center h2 {
    color: #B7B7B7;
    padding: 8px 0 0 4px;
    font: 400 16px 'Arial', sans-serif;
    margin-bottom: 0;
}
.media-colored-block {
    display: none;
}
.adblock {
    float: left;
    height: 28px;
    width: 47.02%;
    padding-top: 6px;
    padding-bottom: 6px;
}
.adblock-front {
    padding-top: 2px;
}
.icon {
    float: left;
    display: inline-block;
    width: 19px;
    height: 15px;
    margin: 9px 9px 0 0;
    background: url(../img/right-arrow.png) no-repeat;
}
.adds a {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    color: #e50b7c;
}
.copyright {
    margin: 40px auto 0;
    color: #898989;
    font-size: 12px;
    text-align: center;
}
.copyright>span>a {
    color: #898989;
    text-decoration: none;
}
span {
    display: inline-block;
    white-space: pre-line;
    line-height: 14px;
    font-family: 'Arial', sans-serif;
 }
@media screen and (max-width: 600px) {
    .layout {
        width: 300px;
        margin-left: 10px;
    }
    .logo {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
    }
    .logo a {
        font: 600 22px sans-serif;
        color: #000000;
        text-decoration: none;
    }
    .search {
        position: absolute;
        top: 430px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        padding: 4px;
        width: 300px;
        height: 30px;
    }
    .search-input {
        float: left;
        width: 200px;
        height: 22px;
        border: 1px solid #dbdbdb;
        font: 12px 'Arial', sans-serif;
    }
    .search-input:focus {
        border: 1px solid #FFA500;
    }
    .search-button {
        float: right;
        cursor: pointer;
        font-size: 13px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: #008000;
        color: #ffffff;
    }
    .main-container {
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        overflow: visible;
        margin-top: 24px;
        padding-top: 3px;
    }
    .main-container-top {
        display: none;
    }
    .main-container-center {
        height: 218px;
        width: 100%;
        padding: 0 0;
    }
    .main-container-bottom {
        display: none;
    }
    .main-container-center h2 {
        color: #B7B7B7;
        padding: 8px 0 0 4px;
        font: 400 14px 'Arial', sans-serif;
        margin-bottom: 0;
        position: absolute;
        top: 30px;
        left: 5px;
    }
    .media-colored-block {
        float: left;
        display: inline-block;
        height: 35px;
        width: 7px;
    }
    .darkgreen-block {
        background: #1F8A70;
    }
    .lightgreen-color {
        background: #BEDB39;
    }
    .yellow-color {
        background: #FFE11A;
    }
    .orange-color {
        background: #FD7400;
    }
    .navy-color {
        background: #004358;
    }
    .adblock {
        height: 35px;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        background: #808080 url("../img/chevron-white.png") no-repeat  97% 50%;
        background-size: auto 16px;
    }
    .icon {
        display: none;
    }
    .adds {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 100%;
        border-top: 1px solid #6F6F6F;
        border-bottom: 1px solid #565656;
    }
    .adds:hover {
        border-top: 1px solid #565656;
        cursor: pointer;
        text-decoration: underline;
        background: #565656 url("../img/chevron-white.png") no-repeat 97% 50%;
        background-size: auto 16px;
    }
    .adds a {
        line-height: 33px;
        cursor: pointer;
        text-decoration: none;
        font-size: 18px;
        color: #ffffff;
        padding-left: 20px;
    }
    .footer-hr {
        float: left;
        position: absolute;
        top: 472px;
        height: 1px;
        width: 300px;
        border-bottom: 1px solid #023e80;
    }
    .copyright {
        position: absolute;
        top: 445px;
        width: 300px;
    }
}