/*CLEAR FIX*/
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.layout {
    width: 912px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    margin-top: 20px;
    margin-bottom: 15px;
}
.logo a {
    font: 600 28px sans-serif;
    color: #e50b7c;
    text-decoration: none;
}
.search {
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    width: 904px;
    height: 24px;
}
.search-input {
    display: inline-block;
    float: left;
    width: 805px;
    height: 22px;
    border: none;
}
.search-button {
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    height: 21px;
    cursor: pointer;
    font-size: 13px;
    border-color: transparent;
    border-radius: 4px;
    background: rgba(204,204,204,1);
    color: #ffffff;
}
.main-container {
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    margin-top: 24px;
}
.main-container-top {
    height: 36px;
    width: 100%;
    background: url("../img/bg-content.gif") repeat-x;
}
.main-container-center {
    height: 230px;
    width: 100%;
    padding: 1px 0 0 0
}
.main-container-bottom {
    height: 36px;
    width: 100%;
    background: url("../img/bg-content-block.gif") repeat-x;
}